header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border-bottom: 1px solid rgb(195, 195, 195); */
}

.info-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 20px 20px 15px 20px;
}

.info-bar__left {
    margin-left: 20px;
}

.info-bar__user {
    display: flex;
    justify-content: start;
    align-items: center;
}

.user-name {
    font-size: 20px;
    font-weight: bold;
}

.user-temp {
    margin-left: 5px;
    border: 2px solid rgb(147, 147, 147, 0.5);
    border-radius: 15px;
    padding: 0px 7px 0px 7px;
    font-weight: bold;
}

.info-bar__replay-time {
    font-size: 14px;
    margin-top: 3px;
    color: rgb(195, 195, 195)
}

.info-bar__icons {
    display: flex;
    justify-content: end;
    align-content: center;
    margin: 20px;
}

.info-bar__icons img {
    margin-left: 10px;
}